body {
  background-color: white;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}
h1{
  color: #ff6600;
}
.privacy{
  background: linear-gradient(225deg, #FFF5EE 0%, #ffffff 100%);
  margin: 0% 5% 0% 5%;
  
  
}
.container{
  box-shadow:  0 5px 5px rgba(0, 0, 0, 0.1);
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
